[Unit]
Description=tomcat server for redis
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/local/redis-3.2.8/bin/redis-server /usr/local/redis-3.2.8/conf/redis.conf
ExecReload=/usr/local/redis-3.2.8/bin/restart.sh
#ExecStop=

[Install]
WantedBy=multi-user.target